@import './components/task-01';
@import './components/task-02';
@import './components/task-03';
@import './components/task-04';
@import './components/task-05';
@import './components/task-06';
@import './components/task-07';

body {
  padding: 20px 30px;
}

;

img {
  display: block;
  max-width: 100%;
  height: auto;
}

;