#validation-input {
    border: 3px solid #bdbdbd;
    margin-bottom: 40px;
}

#validation-input {
    &.valid {
        border-color: #4caf50;
        transition: 200ms ease-in-out;
    }
}

#validation-input {
    &.invalid {
        border-color: #f44336;
        transition: 200ms ease-in-out;
    }
}